@charset "UTF-8";

* { box-sizing: border-box; }
body{
    padding: 0;
    margin: 0;
    min-width: 1280px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
header,nav,.horizon,footer{ width: 100%; }

.horizon{
    height: 100vh;
}
/* .horizon .sec01{ background: #F6B352; }
.horizon .sec02{ background: #F68657; }
.horizon .sec03{ background: rgb(87, 235, 246); }
.horizon .sec04{ background: #000; }
.horizon .sec05{ background: #383A3F; } */

.swiper-container .swiper-wrapper .swiper-slide{
    padding: 100px;
}

/* custmm bullets style */
.header{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(55, 151, 219);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;
}
.logo{
    width: 200px;
    height: 80px;
    background: url(../images/johnsonsbaby-korea-logo_1.png) no-repeat;
    background-size: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 20px;
    z-index: 101;
    cursor: pointer;
    margin: 10px;
}
.swiper-pagination-bullet {
    width: 200px;
    height: 50px;
    border-radius: unset;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#fff;
    opacity: 1;
    background:transparent;
}
.swiper-pagination-bullet-active {
    font-size: 24px;
    font-weight: 800;
    color:#000;
}