@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid olive; */
    font-family: 'Nanum Myeongjo', serif;
    list-style: none;
}
.inner{
    width: 1500px;
    margin: 0 auto;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    color: rgb(234,231,220);
    font-weight: 800;
}
h3{
    font-size: 1.7rem;
}
p{
    line-height: 1.4;
    font-size: 1.2rem;
}
html {
    scroll-behavior: smooth;
}



/* section */
.visual{
    width: 100%;
    height: 400px;
    line-height: 400px;
    margin-bottom: 100px;
    background: url(../images/lecordonbleu/campusbrochure.jpg) 50% 50%, rgb(104, 101, 101);
    background-size: cover;
    background-blend-mode: multiply;
}
.fontSize{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.fontSize div{
    width: 30px;
    height: 30px;
    background-color: rgb(24, 32, 48);
    color: white;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    margin: 1px;
}
.section form{
    display: flex;
    flex-direction: column;
}
.brochure{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.brochure h3{
    text-align: center;
    margin: 25px;
}

.b3 > .document{
    display: flex;
    flex-direction: row;
}
.bc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: #ddd;
}
.bc > *{
    margin: 10px 0;
    text-decoration: none;
    color: rgb(24, 32, 48);
}
.bphoto{
    width: 250px;
    height: 350px;
    display: block;
}
.b1 .bphoto{
    background: url(../images/lecordonbleu/international2.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.b2 .bphoto{
    background: url(../images/lecordonbleu/brochure.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.b3 .d1{
    background: url(../images/lecordonbleu/p1.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.b3 .d2{
    background: url(../images/lecordonbleu/p2.jpg) 50% 50% no-repeat;
    background-size: cover;
}
.b3 .d3{
    background: url(../images/lecordonbleu/p3.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.brochurecheck{
    width: 70%;
    margin: 0 auto;
    font-size: 1.15rem;
    line-height: 1.5;
}
#join{
    width: 80%;
    border: 3px solid #ddd;
    padding: 20px;
    margin: 50px auto;
}
#join > h3{
    text-align: center;
}
#join > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#join > div input{
    height: 30px;
    width: 60%;
}
#join > div p{
    font-size: 1rem;
    color: rgb(152,136,84);
}

.brochurecheck .text{
    padding: 10px;
}
#result{
    text-align: center;
    color: rgb(152,136,84);
    font-size: 1.5rem;
    border: 1px solid #ddd;
    padding-top: 40px;
}


#buttonlog{
    margin: 0 auto;
    color: red;
}
.buttonbox{
    margin: 50px auto;
}
.button{
    margin: 0 auto;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(152,136,84);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    color: rgb(24, 32, 48);
    background-color: white;
    border: 2px solid rgb(24, 32, 48);
    transition: all 1s;
}






