@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
body{
    min-width: 320px;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid olive; */
    font-family: 'Noto Serif KR', serif;
    list-style: none;
}
.inner{
    width: 100%;
    margin: 0 auto;
}
h2{
    font-size: 1.5rem;
    margin: 50px 0;
}
h3{
    font-size: 1rem;
}

/* 코로나 관련 공지사항 */
.notice{
    top: 20px;
    left: 20px;
    width: 90%;
    height: 500px;
    overflow-y: scroll;
}

/* campus */
.campusGate, .campus{
    display: none;
}


/* 헤더 */
.header{
    height: 80px;
    padding: 10px;
    line-height: 80px;
}
.header .logo{
    width: 200px;
    height: 80px;
}
.header .search{
    display: none;
}
.mMenu {
    display: block;
    font-size: 25px;

}
nav{
    display: none;
}

/* nav */
nav.on{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(24, 32, 48);
    padding: 10px;
    overflow: scroll;
}
.mX{
    display: flex;
    align-self: flex-end;
    font-size: 25px;
}
.mform, .mlangbutton, .msearch{
    display: flex;
}
.mform{
    margin: 10px;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
}
.mform input{
    width: 130px;
    height: 25px;
    margin-right: 10px;
}

.mlangbutton{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mlangbutton > a{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 2px;
    color: white;
    text-decoration: none;
}
.menu{
    height: auto;
    flex-direction: column;
    font-size: 22px;
}
.menu > li {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
}
.menu > li a{
    color: white;
}
.menu > li > div{
    width: 100%;
    height: auto;
    /* line-height: 55px; */
}

.menu > li .sub_menu{
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* overflow-y: visible; */
    height: auto;
    color: white;
    background-color: rgb(154, 169, 193);
    /* z-index: 0; */
    position: relative;
    display: none;
}
.menu > li .sub_menu > li{
    font-size: 20px;
}
.menu > li .sub_menu.on{
    display: flex;
    height: auto;
}
.msearch {
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 20px;
    margin: 30px 25px;
}
.msearch > span {
    margin: 0 30px;
}

/* quickmenu */
.quickmenu{
    display: none;
}


/* visual */
.visual{
    width: 100%;
    height: 400px;
    word-break: keep-all;
}
.visual h1{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.visual .swiper-slide{
    padding: 150px 20px;
    text-align: center;
}


/* se1 섹션 */

.se1 iframe{
    width:100%;
    height:300px;
}
.se1 > p{
    text-align: center;
    margin-bottom: 10px;
}
.se1 > h2{
    margin-bottom: 30px;
}
.popup {
    width: 100%;
    height: 300px;

  }

.popup .close {
    right: 0;
    top: -45px;
  }


/* 프로그램 */
.pprg{
    width: auto;
}
.prg > div{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}
.pprg > div{
    margin: 0 10px;
}

.pprg > div .firstp.on{
    display: flex;
}
.pprg > .long{
    width: 300px;
}
.pprg > .short{
    width: 300px;
}
.pprg .pbutton{
    display: flex;
}
/* .se3 */
.se3 > h2{
    margin-bottom: 30px;
}
.img .swiper-slide {
    padding: 20px;
}
.img {
    margin: 0 0 20px 0;
}





/* top */
.top{
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    right: 0;
}



/* se5 */
.se5{
    padding: 5px;
}
.se5 > .inner{
    width: 80%;
}
.button{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(152,136,84);
    margin: 20px 0;
}
.personal{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.personal > div{
    width: 33.3%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
textarea{
    width: 100%;
    height: 300px;
}
.notice{
    width: 100%;
    font-size: 12px;
}






/* footer */
footer{
    /* height: 800px; */
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}
/* .푸터 */
.footer{
    display: flex;
    flex-direction: column;
    order: 2;
}
.footer > div:first-child{
    display: flex;
    flex-direction: column;
}
.footer > .ffoo{
    display: flex;
    flex-direction: column;
    order: 1;
}
.footer .left{
    order: 2;
}
/* .footer .fo{
    display: flex;
    flex-wrap: wrap;
} */
.footer .fo{
    display: flex;
    flex-direction: column;
}
.footer .fo > div > i{
    display: flex;
}
.footer .fo > div{
    background-color: rgb(64,72,87);
    color: white;
    line-height: 45px;
    width: 100%;
    height: 45px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.footer .fo > span{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(154, 169, 193);
    padding-left: 5px;
}
.footer .fo > span::before{
    display: none;
}
.footer .fo > span{
    display: none;
}
.footer .fo > span.on{
    display: flex;
}

.ffoo > li div{
    width: 100%;
    height: 45px;
    text-align: center;
    padding: 0 15px;
    margin: 0;
}


.ffoo .sub{
    width: 100%;
    margin: 0;
    position: relative;
    display: none;
}
.ffoo .sub.on{
    display: flex;
}
/* sns */
footer .snsicon{
    order: 1;
    margin-bottom:10px;
    width: 100%;
    align-items: center;
}