@charset "UTF-8";
body{
    min-width: 641px;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid olive; */
    font-family: 'Noto Serif KR', serif;
    list-style: none;
}
.inner{
    width: 100%;
    margin: 0 auto;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1rem;
}

/* .section */
.visual{
    height: 300px;
    line-height: 300px;
    margin-bottom: 50px;
    background: url(../images/lecordonbleu/campusbrochure.jpg) 50% 50%, rgb(104, 101, 101);
    background-size: cover;
    background-blend-mode: multiply;
}
/* .brochure {
    flex-direction: column;
    margin: 0 auto;
} */
/* .b3{
    width: 400px;
    margin: 0 auto;
} */
/* .swiper-slide .bc{
    width: 400px;
} */
.b3 .swiper-wrapper{
    width: 60%;
    overflow-x: scroll;
    margin:  0 auto;
}
.swiper-button-prev, .swiper-button-next{
    display: block;
}
.bc{
    width: 400px;
 
    /* margin: 0 auto; */
    word-break: keep-all;
    /* text-align: center; */
    /* padding: 20px; */
}

.brochurecheck {
    width: 90%;
}
#result {
    font-size: 1.2rem;
    word-break: keep-all;
}
.brochurecheck .text {
    padding: 10px 0;
}
#join{
    width: 95%;
    padding: 15px 5px;
    margin: 10px auto;
}
#join > div input {
    width: 100%;
}
#join > div p {
    font-size: 0.9rem;
}
#join > div {
    margin: 10px;
}


